
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Models.AcademyModels.Course

<h2>Create new course</h2>
<form asp-action="Create">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" />
    </div>
    <div>
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" />
    </div>
    <div>
        <label asp-for="PassCredits"></label>
        <input asp-for="PassCredits" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>
<a href="/Course/Courses">Back to courses list</a>