
<a href="/Course/Courses">Courses</a> &nbsp; | &nbsp;
<a href="/Student/Students">Students</a> &nbsp; | &nbsp;
<a href="/Lecturer/Lecturers">Lecturers</a>

<div>
    @if (!User.Identity.IsAuthenticated)
    {
        <a href="/Account/Login">Login</a>
        <a href="/Account/Register">Register</a>
    }
    else
    {
        <a href="/Account/Logout">Logout</a>
        if (User.IsInRole("admin"))
        {
            <p>you are admin</p>
        }
        <p>Hello, @User.Identity.Name</p>
    }
</div>