
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Models.AcademyModels.Lecturer

<h2>Create new lecturer</h2>
<form asp-action="Create">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>
<a href="/Lecturers">Back to lecturers list</a>